.forgot-password {
    display: flex;
    justify-content: center;
    padding-top: 75px;
    height: 50em;
    width: auto;
}

.forgot-password-form {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #fbd466;
    padding: 10px;
    border-radius: 5px;
    border: 3px;
    border-style: solid;
    border-color: #fbd466;
    border-radius: 8px;
    width: 20rem;
    height: 9rem;
    padding: 10px;
    background-color: #fbd466;
    box-shadow: 2px 2px 5px #99813d;
}

p {
    text-align: center;
}

input {
    width: 95%;
    height: 2.3rem !important;
}

.button-email {
    font-family: 'Inter', sans-serif;
    font-size: 12pt;
    border-radius: 5px;
    border: none;
    height: 2.3rem;
    width: 95%;
    box-shadow: 2px 2px 2px #996424;
    cursor: pointer;
    background-color: #f5a03b;
}

.button-email:hover {
    background-color: #cd8732;
}

.request-received {
    font-size: 16pt;
    font-weight: 700;
}